.patientForm label {
  margin-right: 10px;
}

.patientForm input[type = text] {
  max-width: 150px;
}

.patientForm .formRow {
  margin-top: 5px;
  margin-bottom: 5px;
}

.patientForm .formHeader button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.patientForm .formHeader button {
  margin-right: 5px;
}
