#fwdFields.hidden {
  display: none;
}

.patientForm label {
  margin-right: 10px;
}

.patientForm input[type = text] {
  max-width: 150px;
}

.patientForm .formRow {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
