.signinContainer {
  width: 510px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.signinContainer .logo {
  margin-right: 50px;
  margin-top: 30px;
}

.signinContainer h3 {
  margin-bottom: 0;
}

.signinContainer input {
  margin-bottom: 0px;
  width: 240px;
}

.signinContainer button {
  margin-top: 8px;
}

.signinContainer .error {
  color: red;
  width: 240px;
  text-align: left;
  font-size: 12px;
  margin-top: 5px;
}
